{{- if not .IsHome -}}
<div class="breadcrumbs">
  <a href="{{ .Site.BaseURL }}">首页</a>

  {{- $section := .Section -}}
  {{- if $section -}}
    {{- $sectionPage := .Site.GetPage "/" $section -}}
    {{- if $sectionPage -}}
      <span class="separator">/</span>
      <a href="{{ $sectionPage.Permalink }}">{{ $sectionPage.LinkTitle }}</a>
    {{- end -}}
  {{- end -}}

  {{- if .IsPage }}
    <span class="separator">/</span>
    <span class="current">{{ .LinkTitle }}</span>
  {{- end }}
</div>
{{- end -}}