{{- /* 引入自定义CSS */ -}}
{{- $customCSS := resources.Get "css/custom.css" }}
{{- if $customCSS }}
{{- $customCSS = $customCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $customCSS.RelPermalink }}" integrity="{{ $customCSS.Data.Integrity }}">
{{- end }}

{{- /* 引入滚动监听JS */ -}}
{{- $scrollJS := resources.Get "js/scroll.js" }}
{{- if $scrollJS }}
{{- $scrollJS = $scrollJS | minify | fingerprint }}
<script src="{{ $scrollJS.RelPermalink }}" integrity="{{ $scrollJS.Data.Integrity }}"></script>
{{- end }}

{{- /* Mermaid 图表（文章页） */ -}}
{{- if .IsPage }}
<script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js" defer></script>
{{- $mermaidJS := resources.Get "js/mermaid-init.js" }}
{{- if $mermaidJS }}
{{- $mermaidJS = $mermaidJS | minify | fingerprint }}
<script src="{{ $mermaidJS.RelPermalink }}" integrity="{{ $mermaidJS.Data.Integrity }}" defer></script>
{{- end }}
{{- end }}
